
.titolo h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 224px;
    width: 710px;
    padding-bottom: 30px;
    padding-top: 60px;
    margin: auto;
}
